.cont{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px ;
    padding: 5px 10px;
    width: fit-content;
    background-color: white;


    
    

}
input{
    border: none;
    outline: none;
}
span{
   color:#555;
   font-weight: bold;
   
}
#number{
    display: none;
    color: red;

}
#logo_reseau{
    display: none;
}